<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stationery</title>
    <meta name="description" content="Kriti Gift Hub">
    <meta name="keywords" content="Kriti Gift Hub">
    <meta name="author" content="Vijaikumar.C">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/favicon" href="assets/image/index/favicon.png">
    <!-- plugin css -->   
    <link href="~/css/plugin.css" rel="stylesheet" />
    <!-- theme css -->
    <link rel="stylesheet" type="text/css" href="~/css/theme.css">
    <!-- collection css -->
    <link rel="stylesheet" type="text/css" href="~/css/collection.css">
    <link href="~/css/sweetalert2.min.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <script src="~/js/plugin.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.dataTables.min.js"></script>
    <script src="~/js/jquery.blockui.min.js"></script>
    <script src="~/js/sweetalert2.js"></script>   
    <script src="~/js/customsweetalert.js"></script>

    <script>
      
        var productJson = [];
        var TotalProducts = [];
        var CartProducts =[];
        var FilteredArray = [];
        var filteredFlag = false;
        var imagesRootPath = '@Url.Content("~/images/")';
        var redirectWhatsapp = "@Url.Action("RedirectToWhatsApp", "Home")";
        var shopUrl = "@Url.Action("Shop", "Home")";

        FetchProductJson();

        function FetchProductJson() {
            $.ajax({
                url: "@Url.Action("FetchProductJson", "Home")",
                type: 'POST',
                dataType: 'json',
                data: {},
                success: function (results) {
                    productJson = JSON.parse(results.response);
                    dynamicShopMenuBuilder();
                    if (typeof InvokeProductsCallback === 'function')
                        InvokeProductsCallback();
                }
            });
        }

       


      
    </script>
   
</head>
<body>
    <!-- preloader start -->
    <div class="preloader position-fixed top-0 start-0 w-100 h-100 body-bg z-index-5">
        <div class="loader-img position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center">
            <img src="~/images/preloader.gif" class="width-88 img-fluid" alt="logo">
        </div>
    </div>
    <!-- preloader end -->
    <!-- header start -->
    <header id="header" class="main-header">
        <!-- header-top start -->
        
        <!-- header-top end -->
        <!-- header-bottom start -->
        <div class="header-top-first ptb-15 ptb-xl-5" style="transform: translateY(0px); transition: none;">
            <div class="container">
                <div class="row align-items-center header-area">
                    <!-- header-logo start -->
                    <div class="col-6 col-xl-3 header-element header-logo">
                        <div class="header-theme-logo">
                            <a href="@Url.Action("Home","Home")" class="d-block theme-logo">
                                @* <img src="~/images/logo.png" class="width-88 width-xl-144 img-fluid" alt="logo" width="144" height="51.4219"> *@
                                <h5 class="logo-text"> KRITI GIFT HUB </h5>
                            </a>
                        </div>
                    </div>
                    <!-- header-logo end -->
                    <!-- header-menu start -->
                    <div class="col-xl-6 d-none d-xl-block header-element header-menu">
                        <div class="mainmenu-content">
                            <div class="main-wrap">
                                <ul class="menu-ul d-flex flex-wrap justify-content-center">
                                    <li class="menu-li">
                                        <a href="@Url.Action("Home","Home")" class="menu-link font-14 d-flex align-items-center ptb-10 plr-15">
                                            <span class="menu-title text-uppercase heading-weight">
                                                <i class="ri-home-4-line"></i>
                                                Home</span>                                            
                                        </a>                                        
                                    </li>                                 
                                    <li class="menu-li">
                                        <a  class="menu-link font-14 d-flex align-items-center ptb-10 plr-15">
                                            <span class="menu-title text-uppercase heading-weight">
                                                <i class="ri-shopping-bag-line"></i>
                                                Shop</span>
                                            <span class="icon-16 fw-normal"><i class="ri-arrow-down-s-line d-block lh-1"></i></span>
                                        </a>
                                        <div class="menu-dropdown menu-sub collapse position-absolute top-auto body-bg z-2 DropDownSlide box-shadow">
                                            <ul class="menudrop-ul ptb-25 ulShopMenu">                                               
                                               

                                            </ul>
                                        </div>
                                    </li>
                                    <li class="menu-li">
                                        <a href="@Url.Action("ContactUs", "Home")" class="menu-link font-14 d-flex align-items-center ptb-10 plr-15">
                                            <span class="menu-title text-uppercase heading-weight">
                                                <i class="ri-customer-service-line"></i>
                                                Contact Us
                                            </span>
                                        </a>

                                    </li>

                                    <li class="menu-li">
                                        <a href="javascript:void(0)" class="menu-link font-14 d-flex align-items-center ptb-10 plr-15">
                                            <span class="menu-title text-uppercase heading-weight">
                                                <i class="ri-admin-line"></i>
                                                Admin</span>
                                            <span class="icon-16 fw-normal"><i class="ri-arrow-down-s-line d-block lh-1"></i></span>
                                        </a>
                                        <div class="menu-dropdown menu-sub collapse position-absolute top-auto body-bg z-2 DropDownSlide box-shadow">
                                            <ul class="menudrop-ul ptb-25">
                                                <li class="menudrop-li position-relative">
                                                    <div class="menu-sublink ptb-5 plr-30">
                                                        <a href="@Url.Action("Category","Admin")" class="d-flex flex-wrap align-items-center">
                                                            <span class="menusub-title width-calc-16">Category</span>                                                            
                                                        </a>
                                                    </div>                                                    
                                                </li>
                                                 <li class="menudrop-li position-relative">
                                                    <div class="menu-sublink ptb-5 plr-30">
                                                        <a href="@Url.Action("SubCategory","Admin")" class="d-flex flex-wrap align-items-center">
                                                            <span class="menusub-title width-calc-16">Sub Category</span>                                                            
                                                        </a>
                                                    </div>                                                    
                                                </li>
                                                <li class="menudrop-li position-relative">
                                                    <div class="menu-sublink ptb-5 plr-30">
                                                        <a href="@Url.Action("Products","Admin")" class="d-flex flex-wrap align-items-center">
                                                            <span class="menusub-title width-calc-16">Products</span>
                                                        </a>
                                                    </div>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- header-menu end -->
                    <!-- header-icon start -->
                    <div class="col-6 col-xl-3 header-element header-icon">
                        <div class="header-icon-block d-flex justify-content-end">
                            <ul class="ul-mt30 header-icon-element">
                                <li class="header-icon-wrap toggler-wrap d-xl-none">
                                    <div class="header-icon-wrapper">
                                        <a href="javascript:void(0)" class="d-block header-icon-toggler toggler-btn" aria-label="Menu toggler button">
                                            <span class="d-block header-block-icon dominant-link font-16 font-xl-24"><i class="ri-menu-line d-block lh-1"></i></span>
                                        </a>
                                    </div>
                                </li>
                               @*  <li class="header-icon-wrap search-wrap">
                                    <div class="header-icon-wrapper">
                                        <a href="#searchmodal" class="d-block header-icon-search" data-bs-toggle="modal" aria-label="Search modal">
                                            <span class="d-block header-block-icon dominant-link font-16 font-xl-24"><i class="ri-search-line d-block lh-1"></i></span>
                                        </a>
                                    </div>
                                </li>
                                <li class="header-icon-wrap user-wrap d-sm-block d-none">
                                    <div class="header-icon-wrapper">
                                        <a href="login.html" class="d-block header-icon-user" aria-label="Login user">
                                            <span class="d-block header-block-icon dominant-link font-16 font-xl-24"><i class="ri-user-3-line d-block lh-1"></i></span>
                                        </a>
                                    </div>
                                </li>
                                <li class="header-icon-wrap wishlist-wrap d-sm-block d-none">
                                    <div class="header-icon-wrapper">
                                        <a href="wishlist.html" class="d-block header-icon-wishlist">
                                            <span class="d-block header-block-icon-wrap position-relative per-7">
                                                <span class="d-block header-block-icon dominant-link font-16 font-xl-24"><i class="ri-heart-line d-block lh-1"></i></span>
                                                <span class="header-block-counter wishlist-counter extra-color font-10 position-absolute end-0 d-flex align-items-center justify-content-center dominant-bg rounded-circle">5</span>
                                            </span>
                                        </a>
                                    </div>
                                </li>*@
                                <li class="header-icon-wrap cart-wrap d-sm-block d-none">
                                    <div class="header-icon-wrapper">
                                        <a href="javascript:void(0)" class="d-block header-icon-cart js-cart-drawer">
                                            <span class="d-block header-block-icon-wrap position-relative per-7">
                                                <span class="d-block header-block-icon dominant-link font-14 font-xl-24">
                                                    <i class="ri-shopping-cart-line"></i>
                                                </span>
                                                <span class="header-block-counter cart-counter extra-color font-10 position-absolute end-0 d-flex align-items-center justify-content-center dominant-bg rounded-circle cartCount">0</span>
                                            </span>
                                        </a>
                                    </div>
                                </li> 
                            </ul>
                        </div>
                    </div>
                    <!-- header-icon end -->
                </div>
            </div>
        </div>
        <!-- header-bottom end -->
    </header>
    <!-- header end -->
    @RenderBody()
    <!-- footer start -->
    <footer id="footer">
        <!-- footer-top start -->
        
        <!-- footer-top end -->
        <!-- footer-bottom start -->
        <div class="copyright ptb-15">
            <div class="container">
                <div class="row align-items-md-center">
                    <div class="col-12 col-md-12 font-16 text-center">
                        Powered by Krithi Gift Hub
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- footer-bottom end -->
    </footer>
    <!-- footer end -->
    <!-- quickview-modal start -->
    @* <div class="quickview-modal modal fade" id="quickview-modal" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content body-bg border-0 br-hidden">
                <div class="modal-body ptb-30 plr-15 plr-sm-30">
                    <div class="quickview-modal-header d-flex align-items-center justify-content-between meb-30">
                        <h6 class="font-18">Quickview</h6>
                        <button type="button" class="body-secondary-color icon-16" data-bs-dismiss="modal" aria-label="Close">
                            <i class="ri-close-large-line d-block lh-1"></i>
                        </button>
                    </div>
                    <div class="row row-mtm quickview-modal-content">
                        <div class="col-12 col-md-6">
                            <!-- quickview-detail-slider start -->
                            <div class="quickview-detail-slider">
                                <div class="row ul-mt15">
                                    <div class="col-12">
                                        <!-- quickview-img-big start -->
                                        <div class="quickview-img-big quickview-slider-big position-relative br-hidden">
                                            <div class="swiper" id="quickview-slider-big">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <img src="assets/image/product/p-1.jpg" class="w-100 img-fluid" alt="p-1">
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img src="assets/image/product/p-2.jpg" class="w-100 img-fluid" alt="p-2">
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img src="assets/image/product/p-3.jpg" class="w-100 img-fluid" alt="p-3">
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img src="assets/image/product/p-4.jpg" class="w-100 img-fluid" alt="p-4">
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img src="assets/image/product/p-5.jpg" class="w-100 img-fluid" alt="p-5">
                                                    </div>
                                                </div>
                                                <div class="swiper-buttons">
                                                    <button type="button" class="swiper-prev swiper-prev-quickview-big tertiary-btn icon-16 width-32 height-32 position-absolute top-50 translate-middle-y z-1 rounded-circle" aria-label="Arrow previous">
                                                        <i class="ri-arrow-left-line d-block lh-1"></i>
                                                    </button>
                                                    <button type="button" class="swiper-next swiper-next-quickview-big tertiary-btn icon-16 width-32 height-32 position-absolute top-50 translate-middle-y z-1 rounded-circle" aria-label="Arrow next">
                                                        <i class="ri-arrow-right-line d-block lh-1"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- quickview-img-big end -->
                                    </div>
                                    <div class="col-12">
                                        <!-- quickview-img-small start -->
                                        <div class="quickview-img-small quickview-slider-small">
                                            <div class="swiper" id="quickview-slider-small">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <img src="assets/image/product/p-1.jpg" class="w-100 img-fluid border-radius" alt="p-1">
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img src="assets/image/product/p-2.jpg" class="w-100 img-fluid border-radius" alt="p-2">
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img src="assets/image/product/p-3.jpg" class="w-100 img-fluid border-radius" alt="p-3">
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img src="assets/image/product/p-4.jpg" class="w-100 img-fluid border-radius" alt="p-4">
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img src="assets/image/product/p-5.jpg" class="w-100 img-fluid border-radius" alt="p-5">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- quickview-img-small end -->
                                    </div>
                                </div>
                            </div>
                            <!-- quickview-detail-slider end -->
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- quickview-info start -->
                            <div class="quickview-info p-md-relative height-md-100">
                                <div class="quickview-detail-info p-md-absolute top-0 bottom-0 start-0 psl-md-3 per-md-30">
                                    <div class="quick-info">
                                        <div class="product-ratting">
                                            <span class="review-ratting">
                                                <span class="review-star icon-16">
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-line"></i>
                                                </span>
                                                <span class="review-caption msl-10">2 reviews</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="quick-info mst-10">
                                        <div class="product-title">
                                            <h2 class="font-20">Refractometers</h2>
                                        </div>
                                    </div>
                                    <div class="quick-info mst-15">
                                        <div class="product-price">
                                            <div class="price-box">
                                                <span class="new-price dominant-color font-16 heading-weight">$79.00</span>
                                                <span class="old-price heading-color font-16 heading-weight text-decoration-line-through">$89.00</span>
                                                <span class="discount-price heading-color font-16">-11%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="quick-info mst-15">
                                        <div class="product-view">
                                            <span class="heading-color">
                                                <i class="ri-eye-line icon-16 mer-5 blinking"></i>
                                                <span class="heading-weight">84 people are viewing this product right now</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="quick-info mst-10">
                                        <div class="product-availability">
                                            <span class="d-inline-block text-success">
                                                <span class="heading-color heading-weight mer-10">Availability:</span>
                                                In stock
                                            </span>
                                        </div>
                                    </div>
                                    <div class="quick-info mst-10">
                                        <div class="product-stock">
                                            <span class="d-inline-block stock-fill text-success ptb-10 plr-15 bg-success heading-weight border-success border-radius">
                                                Hurry up! only <span class="available-stock">66</span>
                                                products left in stock!
                                            </span>
                                        </div>
                                    </div>
                                    <div class="quick-info mst-10">
                                        <div class="product-sold">
                                            <span class="text-danger">
                                                <i class="ri-fire-line icon-16 mer-5 blinking"></i>
                                                <span class="heading-weight">14 products sold in last 5 hours</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="quick-info mst-10">
                                        <div class="product-desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                        </div>
                                    </div>
                                    <div class="quick-info mst-15">
                                        <div class="product-timer text-danger ptb-10 plr-15 bg-danger border-danger border-radius countdown" data-time="2027/12/31 00:00:00">
                                            <div class="ul-mt10 justify-content-between">
                                                <div class="product-timer-text">
                                                    <i class="ri-timer-line d-inline-block icon-16 mer-5 blinking"></i>
                                                    <span class="heading-weight">Hurry up! sales end soon!</span>
                                                </div>
                                                <div class="product-timer-countdown">
                                                    <ul class="ul-mt10">
                                                        <li>
                                                            <span>
                                                                <span class="day heading-weight"></span>
                                                                d
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                <span class="hrs heading-weight"></span>
                                                                h
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                <span class="min heading-weight"></span>
                                                                m
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                <span class="sec heading-weight"></span>
                                                                s
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="quick-info mst-15">
                                        <div class="product-variant">
                                            <div class="product-variant-option">
                                                <span class="d-inline-block meb-6">
                                                    <span class="heading-color heading-weight mer-10">Size:</span>
                                                    5ml
                                                </span>
                                                <div class="product-option-block size">
                                                    <div class="ul-mt5">
                                                        <label class="cust-checkbox-label">
                                                            <input type="radio" name="quick-refractometers-size" class="cust-checkbox" value="5ml" checked>
                                                            <span class="d-block cust-check border-full border-radius">5ml</span>
                                                        </label>
                                                        <label class="cust-checkbox-label disabled">
                                                            <input type="radio" name="quick-refractometers-size" class="cust-checkbox" value="20ml">
                                                            <span class="d-block cust-check border-full border-radius">20ml</span>
                                                        </label>
                                                        <label class="cust-checkbox-label">
                                                            <input type="radio" name="quick-refractometers-size" class="cust-checkbox" value="250ml">
                                                            <span class="d-block cust-check border-full border-radius">250ml</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-variant-option mst-20">
                                                <span class="d-inline-block meb-6">
                                                    <span class="heading-color heading-weight mer-10">Color:</span>
                                                    Aliceblue
                                                </span>
                                                <div class="product-option-block color">
                                                    <div class="ul-mt10">
                                                        <label class="cust-checkbox-label">
                                                            <input type="radio" name="quick-refractometers-color" class="cust-checkbox" value="aliceblue" checked>
                                                            <span class="d-block cust-check aliceblue"></span>
                                                        </label>
                                                        <label class="cust-checkbox-label disabled">
                                                            <input type="radio" name="quick-refractometers-color" class="cust-checkbox" value="antiquewhite">
                                                            <span class="d-block cust-check antiquewhite"></span>
                                                        </label>
                                                        <label class="cust-checkbox-label">
                                                            <input type="radio" name="quick-refractometers-color" class="cust-checkbox" value="azure">
                                                            <span class="d-block cust-check azure"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="quick-info mst-20">
                                        <span class="d-inline-block meb-9">
                                            <span class="heading-color heading-weight mer-10">Quantity:</span>
                                        </span>
                                        <div class="product-quantity d-flex flex-wrap">
                                            <div class="js-qty-wrapper">
                                                <div class="js-qty-wrap h-100 d-flex extra-bg border-full br-hidden">
                                                    <button type="button" class="js-qty-adjust js-qty-adjust-minus body-color icon-16 h-100 ber" aria-label="Remove item">
                                                        <i class="ri-subtract-line d-block lh-1"></i>
                                                    </button>
                                                    <input type="number" name="quick-refractometers-5ml-aliceblue" class="js-qty-num h-100 p-0 text-center border-0" value="1" min="1">
                                                    <button type="button" class="js-qty-adjust js-qty-adjust-plus body-color icon-16 h-100 bsl" aria-label="Add item">
                                                        <i class="ri-add-line d-block lh-1"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="product-action psl-15">
                                                <button type="submit" class="w-100 btn-style2 quaternary-btn add-to-cart">
                                                    <span class="product-icon">
                                                        <span class="product-bag-icon">Add to cart</span>
                                                        <span class="product-loader-icon icon-16">
                                                            <i class="ri-loader-4-line d-block lh-1"></i>
                                                        </span>
                                                        <span class="product-check-icon icon-16">
                                                            <i class="ri-check-line d-block lh-1"></i>
                                                        </span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="product-button mst-15">
                                            <a href="javascript:void(0)" class="w-100 btn-style2 secondary-btn">Buy now</a>
                                        </div>
                                    </div>
                                    <div class="quick-info mst-15">
                                        <div class="ul-row">
                                            <div class="product-wishlist">
                                                <a href="javascript:void(0)" class="add-to-wishlist heading-color">
                                                    <i class="ri-heart-line icon-16 mer-5"></i>
                                                    <span class="heading-weight">Wishlist</span>
                                                </a>
                                            </div>
                                            <div class="product-compare">
                                                <a href="product-comparison.html" class="add-to-compare heading-color">
                                                    <i class="ri-stack-line icon-16 mer-5"></i>
                                                    <span class="heading-weight">Compare</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="quick-info mst-10">
                                        <div class="product-sku">
                                            <span class="d-inline-block">
                                                <span class="heading-color heading-weight mer-10">SKU code:</span>
                                                ME-ABC456
                                            </span>
                                        </div>
                                    </div>
                                    <div class="quick-info mst-15">
                                        <div class="product-payment">
                                            <ul class="payment-ul">
                                                <li class="payment-li ul-mt5">
                                                    <a href="javascript:void(0)" class="d-block">
                                                        <img src="assets/image/other/paying-american.png" class="width-48 img-fluid border-radius" alt="paying-american">
                                                    </a>
                                                    <a href="javascript:void(0)" class="d-block">
                                                        <img src="assets/image/other/paying-club.png" class="width-48 img-fluid border-radius" alt="paying-club">
                                                    </a>
                                                    <a href="javascript:void(0)" class="d-block">
                                                        <img src="assets/image/other/paying-discover.png" class="width-48 img-fluid border-radius" alt="paying-discover">
                                                    </a>
                                                    <a href="javascript:void(0)" class="d-block">
                                                        <img src="assets/image/other/paying-maestro.png" class="width-48 img-fluid border-radius" alt="paying-maestro">
                                                    </a>
                                                    <a href="javascript:void(0)" class="d-block">
                                                        <img src="assets/image/other/paying-paypal.png" class="width-48 img-fluid border-radius" alt="paying-paypal">
                                                    </a>
                                                    <a href="javascript:void(0)" class="d-block">
                                                        <img src="assets/image/other/paying-visa.png" class="width-48 img-fluid border-radius" alt="paying-visa">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="quick-info mst-15">
                                        <div class="product-social">
                                            <ul class="social-ul ul-mt15">
                                                <li class="social-li">
                                                    <a href="javascript:void(0)" class="dribbble icon-16" aria-label="Social link">
                                                        <i class="ri-dribbble-fill d-block lh-1"></i>
                                                    </a>
                                                </li>
                                                <li class="social-li">
                                                    <a href="javascript:void(0)" class="facebook icon-16" aria-label="Social link">
                                                        <i class="ri-facebook-fill d-block lh-1"></i>
                                                    </a>
                                                </li>
                                                <li class="social-li">
                                                    <a href="javascript:void(0)" class="instagram icon-16" aria-label="Social link">
                                                        <i class="ri-instagram-fill d-block instagram lh-1"></i>
                                                    </a>
                                                </li>
                                                <li class="social-li">
                                                    <a href="javascript:void(0)" class="linkedin icon-16" aria-label="Social link">
                                                        <i class="ri-linkedin-fill d-block lh-1"></i>
                                                    </a>
                                                </li>
                                                <li class="social-li">
                                                    <a href="javascript:void(0)" class="pinterest icon-16" aria-label="Social link">
                                                        <i class="ri-pinterest-fill d-block lh-1"></i>
                                                    </a>
                                                </li>
                                                <li class="social-li">
                                                    <a href="javascript:void(0)" class="twitter icon-16" aria-label="Social link">
                                                        <i class="ri-twitter-fill d-block lh-1"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- quickview-info end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
    <!-- quickview-modal end -->
    <!-- mobile-menu start -->
    <div class="mobile-menu d-xl-none position-fixed top-0 bottom-0 body-bg z-index-5 invisible box-shadow" id="mobile-menu">
        <div class="mobile-contents d-flex flex-column">
            <div class="menu-close ptb-10 plr-15 beb">
                <button type="button" class="menu-close-btn d-block body-secondary-color icon-16 ms-auto" aria-label="Menu close">
                    <i class="ri-close-large-line d-block lh-1"></i>
                </button>
            </div>
            <div class="mobilemenu-content beb">
                <div class="main-wrap">
                    <ul class="menu-ul">
                        <li class="menu-li bst">
                            <div class="menu-btn d-flex">                               
                                <span class="width-calc-48 ptb-10 plr-15">
                                    <a href="@Url.Action("Home","Home")" class="d-inline-block body-color">Home</a>
                                </span>
                            </div>                            
                        </li>
                        <li class="menu-li bst">
                            <div class="menu-btn d-flex flex-row-reverse">
                                <button type="button" class="width-48 icon-16 ptb-10 bsl" data-bs-toggle="collapse" data-bs-target="#menu-product" aria-expanded="false" aria-label="Menu accordion">
                                    <i class="ri-add-line d-block lh-1"></i>
                                </button>
                                <span class="width-calc-48 ptb-10 plr-15">
                                    <a href="javascript:void(0)" class="d-inline-block body-color">Shop</a>
                                </span>
                            </div>
                            <div class="menu-dropdown collapse" id="menu-product">
                                <ul class="menudrop-ul ulShopMobileMenu">
                                   
                                    

                                </ul>
                            </div>
                        </li>
                        <li class="menu-li bst">
                            <div class="menu-btn d-flex">                               
                                <span class="width-calc-48 ptb-10 plr-15">
                                    <a href="@Url.Action("ContactUs", "Home")" class="d-inline-block body-color">Contact Us</a>
                                </span>
                            </div>
                            
                        </li>
                        
                        <li class="menu-li bst">
                            <div class="menu-btn d-flex flex-row-reverse">
                                <button type="button" class="width-48 icon-16 ptb-10 bsl" data-bs-toggle="collapse" data-bs-target="#menu-admin" aria-expanded="false" aria-label="Menu accordion">
                                    <i class="ri-add-line d-block lh-1"></i>
                                </button>
                                <span class="width-calc-48 ptb-10 plr-15">
                                    <a href="javascript:void(0)" class="d-inline-block body-color">Admin</a>
                                </span>
                            </div>
                            <div class="menu-dropdown collapse" id="menu-admin">
                                <ul class="menudrop-ul">
                                    <li class="menudrop-li bst">
                                        <div class="menu-btn d-flex">
                                            <span class="width-calc-48 ptb-10 psl-20 per-15">
                                                <a href="@Url.Action("Category","Admin")" class="d-inline-block body-color">Category</a>
                                            </span>
                                        </div>

                                    </li>
                                    <li class="menudrop-li bst">
                                        <div class="menu-btn d-flex">

                                            <span class="width-calc-48 ptb-10 psl-20 per-15">
                                                <a href="@Url.Action("SubCategory","Admin")" class="d-inline-block body-color">Sub Category</a>
                                            </span>
                                        </div>

                                    </li>
                                    <li class="menudrop-li bst">
                                        <div class="menu-btn d-flex">
                                            <span class="width-calc-48 ptb-10 psl-20 per-15">
                                                <a href="@Url.Action("Products", "Admin")" class="d-inline-block body-color">Products</a>
                                            </span>
                                        </div>

                                    </li>

                                </ul>
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu end -->
    <!-- search-modal start -->
    @* <div class="search-modal modal fade" id="searchmodal">
        <div class="modal-dialog mw-100 m-0">
            <div class="modal-content body-bg border-0 rounded-0">
                <div class="modal-body p-0">
                    <div class="container">
                        <div class="search-content ptb-30">
                            <div class="search-box d-flex flex-row-reverse">
                                <button type="button" class="d-block search-close body-secondary-color icon-16" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="ri-close-large-line d-block lh-1"></i>
                                </button>
                                <form method="get" action="javascript:void(0)" class="search-form w-100">
                                    <div class="search-bar position-relative">
                                        <div class="form-search d-flex flex-row-reverse">
                                            <input type="search" name="search-input" class="search-input w-100 h-auto ptb-0 plr-15 bg-transparent border-0" value="" placeholder="Search here" required>
                                            <button type="submit" onclick="window.location.href='search-javascript:void(0)'" class="d-block search-btn body-secondary-color icon-16" aria-label="Go to search" disabled>
                                                <i class="ri-search-line d-block lh-1"></i>
                                            </button>
                                        </div>
                                        <div class="d-none search-results position-absolute top-100 start-0 end-0 body-bg z-1 border-full border-radius box-shadow">
                                            <div class="search-for ptb-10 plr-15 beb">
                                                Search for <span class="search-text">a</span>
                                            </div>
                                            <ul class="search-ul">
                                                <li class="search-li ptb-5 plr-15 bst">
                                                    <a href="javascript:void(0)" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                        <span class="width-48">
                                                            <img src="assets/image/search/search-product1.jpg" class="w-100 img-fluid border-radius" alt="search-product1">
                                                        </span>
                                                        <span class="width-calc-48 psl-15">Refractometers</span>
                                                    </a>
                                                </li>
                                                <li class="search-li ptb-5 plr-15 bst">
                                                    <a href="javascript:void(0)" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                        <span class="width-48">
                                                            <img src="assets/image/search/search-product2.jpg" class="w-100 img-fluid border-radius" alt="search-product2">
                                                        </span>
                                                        <span class="width-calc-48 psl-15">Digital thermometer</span>
                                                    </a>
                                                </li>
                                                <li class="search-li ptb-5 plr-15 bst">
                                                    <a href="javascript:void(0)" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                        <span class="width-48">
                                                            <img src="assets/image/search/search-product3.jpg" class="w-100 img-fluid border-radius" alt="search-product3">
                                                        </span>
                                                        <span class="width-calc-48 psl-15">Optical microscope</span>
                                                    </a>
                                                </li>
                                                <li class="search-li ptb-5 plr-15 bst">
                                                    <a href="javascript:void(0)" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                        <span class="width-48">
                                                            <img src="assets/image/search/search-product4.jpg" class="w-100 img-fluid border-radius" alt="search-product4">
                                                        </span>
                                                        <span class="width-calc-48 psl-15">Dental tools</span>
                                                    </a>
                                                </li>
                                                <li class="search-li ptb-5 plr-15 bst">
                                                    <a href="javascript:void(0)" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                        <span class="width-48">
                                                            <img src="assets/image/search/search-product5.jpg" class="w-100 img-fluid border-radius" alt="search-product5">
                                                        </span>
                                                        <span class="width-calc-48 psl-15">Drug vaccine</span>
                                                    </a>
                                                </li>
                                                <li class="search-li ptb-5 plr-15 bst">
                                                    <a href="javascript:void(0)" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                        <span class="width-48">
                                                            <img src="assets/image/search/search-product6.jpg" class="w-100 img-fluid border-radius" alt="search-product6">
                                                        </span>
                                                        <span class="width-calc-48 psl-15">Nebulizer machine</span>
                                                    </a>
                                                </li>
                                                <li class="search-li ptb-5 plr-15 bst">
                                                    <a href="javascript:void(0)" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                        <span class="width-48">
                                                            <img src="assets/image/search/search-product7.jpg" class="w-100 img-fluid border-radius" alt="search-product7">
                                                        </span>
                                                        <span class="width-calc-48 psl-15">Blood machine</span>
                                                    </a>
                                                </li>
                                                <li class="search-li ptb-5 plr-15 bst">
                                                    <a href="javascript:void(0)" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                        <span class="width-48">
                                                            <img src="assets/image/search/search-product8.jpg" class="w-100 img-fluid border-radius" alt="search-product8">
                                                        </span>
                                                        <span class="width-calc-48 psl-15">Pulse oximeter</span>
                                                    </a>
                                                </li>
                                                <li class="search-li ptb-5 plr-15 bst">
                                                    <a href="javascript:void(0)" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                        <span class="width-48">
                                                            <img src="assets/image/search/search-product9.jpg" class="w-100 img-fluid border-radius" alt="search-product9">
                                                        </span>
                                                        <span class="width-calc-48 psl-15">Dressing scissors</span>
                                                    </a>
                                                </li>
                                                <li class="search-li ptb-5 plr-15 bst">
                                                    <a href="javascript:void(0)" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                        <span class="width-48">
                                                            <img src="assets/image/search/search-product10.jpg" class="w-100 img-fluid border-radius" alt="search-product10">
                                                        </span>
                                                        <span class="width-calc-48 psl-15">Sanitizer gel</span>
                                                    </a>
                                                </li>
                                                <li class="search-li ptb-5 plr-15 bst">
                                                    <a href="javascript:void(0)" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                        <span class="width-48">
                                                            <img src="assets/image/search/search-product11.jpg" class="w-100 img-fluid border-radius" alt="search-product11">
                                                        </span>
                                                        <span class="width-calc-48 psl-15">Face mask</span>
                                                    </a>
                                                </li>
                                                <li class="search-li ptb-5 plr-15 bst">
                                                    <a href="javascript:void(0)" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                        <span class="width-48">
                                                            <img src="assets/image/search/search-product12.jpg" class="w-100 img-fluid border-radius" alt="search-product12">
                                                        </span>
                                                        <span class="width-calc-48 psl-15">Tonic lotion</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="search-more ptb-10 plr-15 bst">
                                                <a href="search-javascript:void(0)" class="body-secondary-color text-decoration-underline">See all results (12)</a>
                                            </div>
                                            <div class="search-fail ptb-10 plr-15">Search not found</div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="search-example-text mst-15">Trending search: a, e, refractometers...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
    <!-- search-modal end -->
    <!-- cart-drawer start -->
    <div class="cart-drawer position-fixed top-0 bottom-0 body-bg z-index-5 invisible box-shadow" id="cart-drawer">
        <form method="post" action="javascript:void(0)" class="drawer-contents d-flex flex-column">
            <div class="drawer-fixed-header ptb-10 plr-15 beb">
                <div class="drawer-header d-flex align-items-center justify-content-between">
                    <h6 class="font-18">Cart</h6>
                    <div class="drawer-close">
                        <button type="button" class="drawer-close-btn body-secondary-color icon-16" aria-label="Close">
                            <i class="ri-close-large-line d-block lh-1"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="drawer-cart-empty h-100 ptb-30 plr-15">
                <div class="drawer-scrollable h-100 d-flex flex-column align-items-center justify-content-center text-center">
                    <h2 class="font-24">Your cart is currently empty</h2>
                    @* <a href="collection.html" class="btn-style2 secondary-btn mst-21">Continue shopping</a> *@
                </div>
            </div>
            <div class="drawer-inner h-100 d-flex flex-column justify-content-between overflow-hidden">
                <div class="drawer-scrollable h-100 overflow-auto">
                    <div class="cart-drawer-table plr-15 clsCartDrawer">
                                           
                    </div>
                   @*  <div class="drawer-notes ptb-15 plr-15 bst">
                        <div class="row field-row">
                            <div class="col-12 field-col">
                                <label for="cartnote" class="field-label">Order notes</label>
                                <textarea rows="5" id="cartnote" name="cartnote" class="w-100" placeholder="Review message" autocomplete="off"></textarea>
                            </div>
                        </div>
                    </div> *@
                </div>
                <div class="drawer-footer ptb-15 plr-15 bst">
                    <div class="drawer-total d-flex justify-content-between">
                        <span>Total</span>
                        <span class="heading-color heading-weight cartTotalAmount">0</span>
                    </div>                  
                    <div class="drawer-cart-checkout mst-10">                        
                        <div class="row btn-row15">
                           @*  <div class="col-sm-6 col-12">
                                <a href="cart-page.html" class="w-100 btn-style2 quaternary-btn">View cart</a>
                            </div> *@
                            <div class="col-sm-12 col-12">
                                <a href="javascript:void(0)" onclick="buyProducts()" class="w-100 btn-style2 secondary-btn">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
    </div>
    <!-- cart-drawer end -->
    <!-- bottom-menu start -->
    <div class="bottom-menu d-sm-none position-sticky bottom-0 extra-bg z-1 box-shadow">
        @* <div class="bottom-menu-element d-flex flex-wrap align-items-center">
            <div class="col">
                <a href="index.html" class="d-flex flex-column align-items-center ptb-10 text-center">
                    <span class="bottom-menu-icon heading-color icon-16">
                        <i class="ri-home-8-line d-block lh-1"></i>
                    </span>
                    <span class="bottom-menu-title body-color font-10 mst-4 text-uppercase lh-1">Home</span>
                </a>
            </div>
            <div class="col">
                <a href="account.html" class="d-flex flex-column align-items-center ptb-10 text-center">
                    <span class="bottom-menu-icon heading-color icon-16">
                        <i class="ri-user-3-line d-block lh-1"></i>
                    </span>
                    <span class="bottom-menu-title body-color font-10 mst-4 text-uppercase lh-1">Account</span>
                </a>
            </div>
            <div class="col">
                <a href="collection.html" class="d-flex flex-column align-items-center ptb-10 text-center">
                    <span class="bottom-menu-icon heading-color icon-16">
                        <i class="ri-layout-grid-line d-block lh-1"></i>
                    </span>
                    <span class="bottom-menu-title body-color font-10 mst-4 text-uppercase lh-1">Shop</span>
                </a>
            </div>
            <div class="col">
                <a href="wishlist.html" class="d-flex flex-column align-items-center ptb-10 text-center">
                    <span class="bottom-menu-icon-wrap position-relative per-7">
                        <span class="d-block bottom-menu-icon heading-color icon-16">
                            <i class="ri-heart-line d-block lh-1"></i>
                        </span>
                        <span class="bottom-menu-counter wishlist-counter extra-color font-10 position-absolute end-0 dominant-bg d-flex align-items-center justify-content-center rounded-circle">5</span>
                    </span>
                    <span class="bottom-menu-title body-color font-10 mst-4 text-uppercase lh-1">Wishlist</span>
                </a>
            </div>
            <div class="col">
                <a href="javascript:void(0)" class="js-cart-drawer d-flex flex-column align-items-center ptb-10 text-center">
                    <span class="bottom-menu-icon-wrap position-relative per-7">
                        <span class="d-block bottom-menu-icon heading-color icon-16">
                            <i class="ri-shopping-bag-3-line d-block lh-1"></i>
                        </span>
                        <span class="bottom-menu-counter cart-counter extra-color font-10 position-absolute end-0 dominant-bg d-flex align-items-center justify-content-center rounded-circle">4</span>
                    </span>
                    <span class="bottom-menu-title body-color font-10 mst-4 text-uppercase lh-1">Cart</span>
                </a>
            </div>
        </div> *@
    </div>
    <!-- bottom-menu end -->
    <!-- bg-screen start -->
    <div class="bg-screen">
        <div class="bg-back position-fixed top-0 end-0 bottom-0 start-0 bg-black z-index-4 opacity-0 invisible"></div>
        <div class="bg-shop position-fixed top-0 end-0 bottom-0 start-0 bg-black z-index-4 opacity-0 invisible"></div>
    </div>
    <!-- bg-screen end -->
    <!-- back-to-top start -->
    <a href="javascript:void(0)" id="top" class="icon-16 secondary-btn position-fixed width-40 height-40 d-flex align-items-center justify-content-center z-1 opacity-0 invisible border-radius" aria-label="Back to top">
        <i class="ri-arrow-up-line d-block lh-1"></i>
    </a>

    <div class="attachment-deletemodal modal fade" id="attachment-deletemodal" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content body-bg border-0 br-hidden">
                <div class="modal-body ptb-30 plr-15 plr-sm-30">
                    <form method="post" action="javascript:void(0)">
                        <div class="attachment-deletemodal-header d-flex align-items-center justify-content-between meb-30">
                            <h6 class="font-18">
                                <i class="ri-error-warning-line text-danger icon-16"></i>
                                Attachment delete!
                            </h6>
                            <button type="button" class="body-secondary-color icon-16" data-bs-dismiss="modal" aria-label="Close">
                                <i class="ri-close-large-line d-block lh-1"></i>
                            </button>
                        </div>
                        <div class="attachment-deletemodal-text">Are you sure you want to delete this attachment?</div>
                        <div class="attachment-deletemodal-button mst-30">
                            <div class="row btn-row">
                                <div class="col-12 col-sm-6">
                                    <button type="button" class="w-100 btn-style2 quaternary-btn" data-bs-dismiss="modal">No</button>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <button type="submit" class="w-100 btn-style2 secondary-btn" id="attachmentremove">Yes</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- back-to-top end -->
    <!-- plugin js -->    
 
    <!-- theme js -->

    <script src="~/js/site.js"></script>
        <script src="~/js/theme.js"></script>
    
</body>
</html>
